<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title><%= title %></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="/media/logos/favicon.ico" />

  <!-- CSS
	============================================ -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="/css/icon-font.min.css" />

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="/css/plugins.css" />

  <!-- Helper CSS -->
  <link rel="stylesheet" href="/css/helper.css" />

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Modernizer JS -->
  <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
</head>
