<div class="header-section section">
  <!-- Header Top Start -->
  <div class="header-top header-top-one bg-theme-two">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col mt-10 mb-10">
          <!-- Header Shop Links Start -->
          <div class="header-top-right">
            <p>
              <% if(isLogin) { %>
              <a href="/logout">Logout</a>
              <% if(isAdmin) { %>
              <a href="/dashboard">Dashboard</a>
              <% } %> <% } else { %>
              <a href="/register">Register</a><a href="/login">Login</a>
              <% } %>
            </p>
          </div>
          <!-- Header Shop Links End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Header Top End -->

  <!-- Header Bottom Start -->
  <div class="header-bottom header-bottom-one header-sticky">
    <div class="container-fluid">
      <div class="row menu-center align-items-center justify-content-between">
        <div class="col mt-15 mb-15"></div>

        <div class="col order-2 order-lg-3">
          <!-- Header Advance Search Start -->
          <div class="header-shop-links">
            <div class="header-search">
              <button class="search-toggle">
                <img src="/images/icons/search.png" alt="Search Toggle" /><img
                  class="toggle-close"
                  src="/images/icons/close.png"
                  alt="Search Toggle"
                />
              </button>
              <div class="header-search-wrap">
                <form action="/search" method="get">
                  <input
                    type="text"
                    placeholder="Type and hit enter"
                    name="q"
                  />
                  <button>
                    <img src="/images/icons/search.png" alt="Search" />
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- Header Advance Search End -->
        </div>

        <div class="col order-3 order-lg-2">
          <div class="main-menu">
            <nav>
              <ul>
                <li>
                  <a href="/">HOME</a>
                </li>
                <li>
                  <a href="#">SHOP</a>
                </li>
                <li>
                  <a href="#">PAGES</a>
                </li>
                <li>
                  <a href="#">BLOG</a>
                </li>
                <li>
                  <a href="#">CONTACT</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Mobile Menu -->
        <div class="mobile-menu order-4 d-block d-lg-none col"></div>
      </div>
    </div>
  </div>
  <!-- Header BOttom End -->
</div>
